   <div class="auth-outer">
 <!-- <div class="is-categories-grid"> -->

              <div class="grid-system storegrid">
     	 		<div class="columns storeheader">   
                    <div class="column">
                        <div class="category-title is-product-category">
                            <h2>MY CART</h2>
                        </div>
                    </div>
                </div>
                <div class="columns storebody">
            <!-- Cart Layout -->
                        <div  style="padding: 20px" class="columns is-account-grid is-multiline">
                            <!--Loader-->
                           <!--  <div class="account-loader is-active">
                                <div class="loader is-loading"></div>
                            </div> -->
                            <!-- Product list -->
                            <div id="cart-page-products" class="column is-8">
                                <!-- Product -->
                                <div class="flat-card is-auto cart-card product-container" data-product-id="">
                                    <ul class="cart-content">
                                        <li>
                                            <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/office6.png" alt="">
                                            <span class="product-info">
                                                    <span>The Conqueror</span>
                                            <span>Office</span>
                                            </span>
                                            <span class="product-price">
                                                    <span>Price</span>
                                            <span>385.00</span>
                                            </span>

                                            <div data-trigger="spinner" class="main-cart-spinner">
                                                <input class="hidden-spinner" type="hidden" value="1" data-spin="spinner" data-rule="quantity" data-min="1" data-max="99">
                                                <a class="spinner-button is-remove" href="javascript:;" data-spin="down">
                                                    <i data-feather="minus"></i>
                                                </a>
                                                <span class="spinner-value">1</span>
                                                <a class="spinner-button is-add" href="javascript:;" data-spin="up">
                                                    <i data-feather="plus"></i>
                                                </a>
                                            </div>

                                            <span class="action">
                                                    <span class="action-link is-remove has-simple-popover" data-content="Remove from Cart"
                                                        data-placement="top">
                                                        <a href="#"><i class="feather-icons" data-feather="trash-2"></i></a>
                                                    </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Product -->
                                <div class="flat-card is-auto cart-card product-container" data-product-id="">
                                    <ul class="cart-content">
                                        <li>
                                            <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/office7.gif" alt="">
                                            <span class="product-info">
                                                    <span>The Gentleman</span>
                                            <span>Office</span>
                                            </span>
                                            <span class="product-price">
                                                    <span>Price</span>
                                            <span>329.00</span>
                                            </span>

                                            <div data-trigger="spinner" class="main-cart-spinner">
                                                <input class="hidden-spinner" type="hidden" value="1" data-spin="spinner" data-rule="quantity" data-min="1" data-max="99">
                                                <a class="spinner-button is-remove" href="javascript:;" data-spin="down">
                                                    <i data-feather="minus"></i>
                                                </a>
                                                <span class="spinner-value">1</span>
                                                <a class="spinner-button is-add" href="javascript:;" data-spin="up">
                                                    <i data-feather="plus"></i>
                                                </a>
                                            </div>

                                            <span class="action">
                                                    <span class="action-link is-remove has-simple-popover" data-content="Remove from Cart"
                                                        data-placement="top">
                                                        <a href="#"><i class="feather-icons" data-feather="trash-2"></i></a>
                                                    </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Product -->
                                <div class="flat-card is-auto cart-card product-container" data-product-id="">
                                    <ul class="cart-content">
                                        <li>
                                            <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/kids7.jpg" alt="">
                                            <span class="product-info">
                                                    <span>Child Desk</span>
                                            <span>Kids</span>
                                            </span>
                                            <span class="product-price">
                                                    <span>Price</span>
                                            <span>278.00</span>
                                            </span>

                                            <div data-trigger="spinner" class="main-cart-spinner">
                                                <input class="hidden-spinner" type="hidden" value="1" data-spin="spinner" data-rule="quantity" data-min="1" data-max="99">
                                                <a class="spinner-button is-remove" href="javascript:;" data-spin="down">
                                                    <i data-feather="minus"></i>
                                                </a>
                                                <span class="spinner-value">1</span>
                                                <a class="spinner-button is-add" href="javascript:;" data-spin="up">
                                                    <i data-feather="plus"></i>
                                                </a>
                                            </div>

                                            <span class="action">
                                                    <span class="action-link is-remove has-simple-popover" data-content="Remove from Cart"
                                                        data-placement="top">
                                                        <a href="#"><i class="feather-icons" data-feather="trash-2"></i></a>
                                                    </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Product -->
                                <div class="flat-card is-auto cart-card product-container" data-product-id="">
                                    <ul class="cart-content">
                                        <li>
                                            <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/access4.jpg" alt="">
                                            <span class="product-info">
                                                    <span>Design Shelf</span>
                                            <span>House</span>
                                            </span>
                                            <span class="product-price">
                                                    <span>Price</span>
                                            <span>529,00</span>
                                            </span>

                                            <div data-trigger="spinner" class="main-cart-spinner">
                                                <input class="hidden-spinner" type="hidden" value="1" data-spin="spinner" data-rule="quantity" data-min="1" data-max="99">
                                                <a class="spinner-button is-remove" href="javascript:;" data-spin="down">
                                                    <i data-feather="minus"></i>
                                                </a>
                                                <span class="spinner-value">1</span>
                                                <a class="spinner-button is-add" href="javascript:;" data-spin="up">
                                                    <i data-feather="plus"></i>
                                                </a>
                                            </div>

                                            <span class="action">
                                                    <span class="action-link is-remove has-simple-popover" data-content="Remove from Cart"
                                                        data-placement="top">
                                                        <a href="#"><i class="feather-icons" data-feather="trash-2"></i></a>
                                                    </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /Product -->
                            </div>
                            <!--Cart Summary-->
                            <div class="column is-4">
                                <div class="flat-card cart-order-summary">
                                    <div class="button-wrap">
                                        <div class="summary-header">
                                            <i data-feather="shopping-cart"></i>
                                            <div><var id="cart-page-count">5</var> <span>Item(s) in Cart</span></div>
                                        </div>
                                        <div class="cart-summary-list">
                                            <div class="summary-item">
                                                <span>Subtotal</span>
                                                <span id="cart-summary-subtotal" class="amount">0.00</span>
                                            </div>
                                            <div class="summary-item">
                                                <span>Taxes</span>
                                                <span id="cart-summary-taxes" class="amount">0.00</span>
                                            </div>
                                            <div class="summary-item">
                                                <span>Shipping</span>
                                                <span id="cart-summary-shipping" class="amount">0.00</span>
                                            </div>
                                            <div class="summary-item is-bold">
                                                <span>Total</span>
                                                <span id="cart-summary-total" class="amount">0.00</span>
                                            </div>
                                        </div>
                                       <!--  <button id="init-checkout" class="button is-fullwidth feather-button is-bold primary-button raised is-rounded">Checkout</button> -->
                                     <a  routerLink="account/checkout"  class="button is-fullwidth feather-button is-bold primary-button raised is-rounded">Checkout</a>

                                        <button id="update-cart-page" class="button is-fullwidth feather-button is-bold secondary-button raised is-rounded is-hidden">Update
                                            Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Cart Layout -->

                </div>

      		   <div class="columns storefooter">   
                    <div class="column">
                        <p class="is-green">Auto</p>
                    </div>
                </div>

            </div>
	</div>