<div class="grid-system storegrid" >
    <div class="columns storeheader">   
        <div class="column">
            
             <!-- Title -->
            <div class="category-title is-product-category">
                <h2>ACCOUNT SETUP</h2>
                
             </div>

            
         </div>
     </div>
    
          <div class="is-categories-grid">

                                <!-- Card Panel -->
            <div class="flat-card is-auto is-element-details has-overflow">
                <div class="columns is-gapless is-vcentered">
                    <div class="column is-12 is-component is-grey">
                        <!-- <div class="inner"> -->

                            <div class="columns">
                                <!-- Panel card -->
                                <div class="column">
                                    <div class="flat-card profile-info-card is-auto">
                                        <div class="card-title custom">
                                            <a  class="button big-button rounded">Previous</a>
                                            <div class="steps-wrapper">
                                                <ol class="step-list">
                                                    <li class="active textcolorwhite">Bio</li>
                                                    <li class="textcolorwhite">Address</li>
                                                    <li class="textcolorwhite">cards</li>
                                                    <li class="textcolorwhite">Complete</li>
                                                </ol>
                                            </div>
                                            <a  class="button big-button rounded">Next</a>
                                        </div>
                                        <div class="card-body">
                                         <form>
                                          <div class="columns">
                                            <div class="column is-6">
                                                <div class="field info-block has-flex-label has-validation">
                                                    <label class="label-text">
                                                        <span>First Name</span>
                                                        <span class="error">Minimum 2 characters</span>
                                                    </label>
                                                    <div class="control">
                                                        <input id="edit-first-name" type="text" class="input is-default fake-validation" value="Elie">
                                                        <div class="error-icon">
                                                            <i data-feather="x"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="field info-block has-flex-label has-validation">
                                                    <label class="label-text">
                                                        <span>Email</span>
                                                        <span class="error">Enter a valid email</span>
                                                    </label>
                                                    <div class="control">
                                                        <input id="edit-email" type="email" class="input is-default fake-email-validation" value="eliedaniels@gmail.com">
                                                        <div class="error-icon">
                                                            <i data-feather="x"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="column is-6">
                                                <div class="field info-block has-flex-label has-validation">
                                                    <label class="label-text">
                                                        <span>Last Name</span>
                                                        <span class="error">Minimum 2 characters</span>
                                                    </label>
                                                    <div class="control">
                                                        <input id="edit-last-name" type="text" class="input is-default fake-validation" value="Daniels">
                                                        <div class="error-icon">
                                                            <i data-feather="x"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="field info-block has-flex-label">
                                                    <label class="label-text">
                                                        <span>Phone</span>
                                                        <span class="error">Minimum 2 characters</span>
                                                    </label>
                                                    <div class="control">
                                                        <input id="edit-phone-number" type="text" class="input is-default" value="+1 555 623 568">
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                       


                                <!-- Edit Billing Address -->
                                <div class="flat-card profile-info-card is-auto has-overflow is-billing">
                                    <!-- Title -->
                                    <div class="card-title">
                                        <h3>Billing Address</h3>

                                        <div class="confirm-button ">
                                            <a href="javascript:void(0);" role="button" class="has-simple-popover" data-content="Save Addresses" data-placement="top"><i class="feather-icons" data-feather="check"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="columns">
                                            <div class="column is-6">
                                                <!-- Form group -->
                                                <div class="field info-block has-flex-label has-validation">
                                                    <label class="label-text">
                                                        <span>Number</span>
                                                        <span class="error">Minimum 2 characters</span>
                                                    </label>
                                                    <div class="control">
                                                        <input id="billing-edit-address1" type="text" class="input is-default fake-validation" value="23, Block C2">
                                                        <div class="error-icon">
                                                            <i data-feather="x"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Form group -->
                                                <div class="field info-block has-flex-label has-validation">
                                                    <label class="label-text">
                                                        <span>City</span>
                                                        <span class="error">Minimum 2 characters</span>
                                                    </label>
                                                    <div class="control">
                                                        <input id="billing-edit-city" type="text" class="input is-default fake-validation" value="Los Angeles">
                                                        <div class="error-icon">
                                                            <i data-feather="x"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Form group -->
                                                <div class="field info-block has-flex-label has-validation">
                                                    <label class="label-text">
                                                        <span>State</span>
                                                        <span class="error">Minimum 2 characters</span>
                                                    </label>
                                                    <div class="control">
                                                        <input id="billing-edit-state" type="text" class="input is-default fake-validation" value="CA">
                                                        <div class="error-icon">
                                                            <i data-feather="x"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="column is-6">
                                                <!-- Form group -->
                                                <div class="field info-block has-flex-label has-validation">
                                                    <label class="label-text">
                                                        <span>Street</span>
                                                        <span class="error">Minimum 2 characters</span>
                                                    </label>
                                                    <div class="control">
                                                        <input id="billing-edit-address2" type="text" class="input is-default fake-validation" value="Church Street">
                                                        <div class="error-icon">
                                                            <i data-feather="x"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Form group -->
                                                <div class="field info-block has-flex-label has-validation">
                                                    <label class="label-text">
                                                        <span>Postal Code</span>
                                                        <span class="error">Minimum 2 characters</span>
                                                    </label>
                                                    <div class="control">
                                                        <input id="billing-edit-postal-code" type="text" class="input is-default fake-validation" value="10065">
                                                        <div class="error-icon">
                                                            <i data-feather="x"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Select -->
                                                <div class="field info-block has-flex-label has-validation">
                                                    <label class="label-text">
                                                        <span>Country</span>
                                                        <span class="error">Minimum 2 characters</span>
                                                    </label>
                                                    <div class="control has-rounded-autocpl">
                                                        <input id="billing-edit-country" type="text" class="input country-autocpl is-default fake-validation" value="United States">
                                                        <div class="error-icon">
                                                            <i data-feather="x"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Edit Billing Address -->

                                          </form>
                                                                
                                        </div>
                                        <!-- <img class="card-bg" src="assets/front/img/logos/tradelinenetwork-logo.svg" alt=""> -->
                                         <div class="card-footer custom">
                                            <a  class="button big-button rounded">Previous</a>
                                            <!-- <div class="steps-wrapper">
                                                <ol class="step-list">
                                                    <li class="active textcolorwhite">Bio</li>
                                                    <li class="active textcolorwhite" >Address</li>
                                                    <li class="active textcolorwhite" >cards</li>
                                                    <li class="active textcolorwhite" >Complete</li>
                                                </ol>
                                            </div> -->
                                            <a  class="button big-button rounded">Next</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Panel card -->
                            </div>
                        <!-- </div> -->
                    </div>
                    <!-- <div class="column is-3 is-description">
                        <div class="inner">
                            
                            <h2 class="title is-6 is-light">Create your profile</h2>
                            <div class="divider"></div>
                            <p>Finish your signup by completing few critical information about your credit. </p>
                        </div>
                    </div> -->
                </div>
      </div>
    </div>
              
    
 </div>            