

 <!-- Main section -->
        <div id="checkout-1" class="section no-padding">
            <div class="checkout-wrapper" data-checkout-step="1">

                       <div class="flat-card is-auto is-element-details has-overflow">
                <div class="columns is-gapless is-vcentered">
                    <div class="column is-12 is-component is-grey">
                        <!-- <div class="inner"> -->

                            <div class="columns">
                                <!-- Panel card -->
                                <div class="column">
                                    <div class="flat-card profile-info-card is-auto">
                                        <div class="card-title custom">
                                            
                                            <div class="steps-wrapper">
                                                <ol class="step-list">
                                                    <li class="active textcolorwhite"></li>
                                                    <li class="textcolorwhite"></li>
                                                    <li class="textcolorwhite"></li>
                                                    <li class="textcolorwhite"></li>
                                                </ol>
                                            </div>
                                        
                                        </div>
                                        <div class="card-body">
                <!--Checkout step 1-->
                <div class="checkout-main">
                    <div class="checkout-container">
                        <div class="flex-table">
                            <!--Table header-->
                            <div class="flex-table-header">
                                <span class="product"><span>Product</span></span>
                                <span class="quantity">Quantity</span>
                                <span class="price">Price</span>
                                <span class="discount">Discount</span>
                                <span class="total">Total</span>
                            </div>
                            <!--Table item-->
                            <div class="flex-table-item" data-product-id="107">
                                <div class="product">
                                    <img src="http://via.placeholder.com/250x250" data-demo-src="assets/img/products/kids2.jpg" alt="">
                                    <span class="product-name">Rabbit Lamp</span>
                                </div>
                                <div class="quantity">
                                    <span>1</span>
                                </div>
                                <div class="price">
                                    <span class="has-price">14.49</span>
                                </div>
                                <div class="discount">
                                    <span class="has-price">0</span>
                                </div>
                                <div class="total">
                                    <span class="has-price">14.49</span>
                                </div>
                            </div>
                            <!--Table item-->
                            <div class="flex-table-item" data-product-id="107">
                                <div class="product">
                                    <img src="http://via.placeholder.com/250x250" data-demo-src="assets/img/products/cosy-red-seat.png" alt="">
                                    <span class="product-name">Red Seat</span>
                                </div>
                                <div class="quantity">
                                    <span>1</span>
                                </div>
                                <div class="price">
                                    <span class="has-price">45.00</span>
                                </div>
                                <div class="discount">
                                    <span class="has-price">0</span>
                                </div>
                                <div class="total">
                                    <span class="has-price">45.00</span>
                                </div>
                            </div>
                            <!--Table item-->
                            <div class="flex-table-item" data-product-id="107">
                                <div class="product">
                                    <img src="http://via.placeholder.com/250x250" data-demo-src="assets/img/products/blue-seat.png" alt="">
                                    <span class="product-name">Blue Seat</span>
                                </div>
                                <div class="quantity">
                                    <span>2</span>
                                </div>
                                <div class="price">
                                    <span class="has-price">35.00</span>
                                </div>
                                <div class="discount">
                                    <span class="has-price">0</span>
                                </div>
                                <div class="total">
                                    <span class="has-price">70.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="coupon-wrapper">
                            <h3>Apply Coupon Code</h3>
                            <p>Enter any promotional code you have here. Promotional codes can only be used once.</p>
                            <div class="field">
                                <div class="control has-icon is-bigger">
                                    <input type="text" class="input is-default" placeholder="Paste Coupon Code">
                                    <div class="form-icon">
                                        <i data-feather="tag"></i>
                                    </div>
                                    <button class="button primary-button raised coupon-button">Apply Coupon</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="checkout-side">
                    <div class="side-header">
                        <h2 class="side-title">Checkout</h2>
                        <a href="/cart.html" class="button is-rounded checkout-back">Previous</a>
                    </div>
                    <div class="side-inner has-slimscroll">
                        <div class="side-card user-card">
                            <div class="avatar-container">
                                <img id="checkout-avatar" src="http://via.placeholder.com/250x250" data-demo-src="assets/img/avatars/elie.jpg" alt="">
                            </div>
                            <div class="meta">
                                <span>Checkout as</span>
                                <span id="checkout-username">Elie Daniels</span>
                            </div>
                        </div>

                        <div class="side-card is-address">
                            <label class="form-switch is-vhidden">
                                <input id="shipping-switch" type="checkbox" class="is-switch">
                                <i></i>
                            </label>
                            <h3 class="address-title">Shipping Address</h3>
                            <p class="address">
                                <var id="shipping-address1">463 San Bernardo Ave</var>, <var id="shipping-address2">Crimson Road</var>
                                <br><var id="shipping-city">Long Beach</var>, <var id="shipping-state">CA</var> <var id="shipping-postalCode">90808</var>
                                <br><var id="shipping-country">United States</var>
                            </p>
                        </div>

                        <div class="side-card is-totals">
                            <h3 class="info-title">Payment Information</h3>
                            <div class="payment-block">
                                <span>Order subtotal</span>
                                <span id="checkout-subtotal-value" class="has-price">200.37</span>
                            </div>
                            <div class="payment-block">
                                <span>Order shipping</span>
                                <span id="checkout-shipping-value" class="has-price">0.00</span>
                            </div>
                            <div class="payment-block">
                                <span>Order tax</span>
                                <span id="checkout-tax-value" class="has-price">7.82</span>
                            </div>
                            <div class="payment-block">
                                <span class="is-bold">Order total</span>
                                <span id="checkout-grandtotal-value" class="has-price is-bold">208.09</span>
                            </div>
                        </div>

                        <div class="side-action">
                            <button id="checkout-next" class="button primary-button raised is-fullwidth is-rounded">Next Step</button>
                        </div>
                    </div>
                </div>


                                        </div>
                                </div>
                            </div>         
                        </div>
                        </div>

                        </div>
                   </div>    

            </div>
        </div>
        <!-- /Main section -->