
              <div class="grid-system storegrid" >
                <div class="columns storeheader">   
                    <div class="column">
                        <!-- <p class="is-green">Auto</p> -->

                            <!-- Title -->
                         <!-- Title -->
                        <div class="category-title is-product-category">
                            <h2>TRADELINE STORE</h2>
                            <!-- <div class="category-icon is-hidden-mobile">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M458.667,0H53.333C23.893,0.035,0.035,23.893,0,53.333v405.333C0.035,488.107,23.893,511.965,53.333,512h405.333
                                                         c29.441-0.035,53.298-23.893,53.333-53.333V53.333C511.965,23.893,488.107,0.035,458.667,0z M490.667,458.667
                                                         c0,17.673-14.327,32-32,32H53.333c-17.673,0-32-14.327-32-32V53.333c0-17.673,14.327-32,32-32h405.333c17.673,0,32,14.327,32,32
                                                         V458.667z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <rect x="245.333" y="42.667" width="21.333" height="352" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M320,181.333h-21.333v21.333H320V224h-21.333v21.333H320c0.295,0.006,0.589,0.006,0.884,0
                                                         c11.538-0.244,20.693-9.795,20.449-21.333v-21.333c0.006-0.295,0.006-0.589,0-0.884C341.089,190.245,331.538,181.089,320,181.333z
                                                         " />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M213.333,202.667v-21.333H192c-0.295-0.006-0.589-0.006-0.884,0c-11.538,0.244-20.693,9.795-20.449,21.333V224
                                                         c-0.006,0.295-0.006,0.589,0,0.884c0.244,11.538,9.795,20.693,21.333,20.449h21.333V224H192v-21.333H213.333z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <rect x="42.667" y="384" width="426.667" height="21.333" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <rect x="234.667" y="437.333" width="42.667" height="21.333" />
                                        </g>
                                    </g>
                                </svg> 
                            </div> -->
                        </div>

                        
                    </div>
                </div>
                <div class="columns storebody">
                   
                    <div class="column storefilter">
                           <div class="column filterheader">
                            <h2>FILTER</h2>
                         </div>
                           
                                <div class="column filterbody">
                                     <form>
                                    <div class="field">
                                        <div class="control">
                                            <label>Project ID</label>
                                            <input class="input is-medium mt-5" type="text">
                                        </div>
                                    </div>
                                    <div class="component-block">
                                    <div class="field">
                                        <div class="control">
                                            <select class="chosen-multiple" data-placeholder="Select users" multiple>
                                                <option label="App category"></option>
                                                <option>John Walsh</option>
                                                <option>Merry Daniels</option>
                                                <option>Cathy Price</option>
                                                <option>Kareem Jabbar</option>
                                                <option>Melany Gatts</option>
                                                <option>Jeremy Byers</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                            <div class="has-text-right">
                                
                                <button class="button btn-align button-cta is-bold no-lh raised primary-btn">Filter</button>
                            </div>
                        </form>
                                
                            </div>
                           
                    </div>
                   <div class="column is-three-quarters storeproducts" >
                    <!-- Controls -->
                        <div class="listing-controls">
                            <div class="layout-controls">
                                <a href="products.html"><span class="is-active"><i data-feather="grid"></i></span></a>
                                <a href="products-list.html"><span><i data-feather="list"></i></span></a>
                            </div>
                            <!-- Sort -->
                            <div class="sort-box">
                                <div class="sort-box-select">
                                    <select data-placeholder="Default order" class="chosen-select-no-single">
                                        <option>Default Sort</option>
                                        <option>Best Sellers</option>
                                        <option>Highest Rated</option>
                                        <option>Best Deals</option>
                                        <option>Newest Products</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- /Controls -->

                        <!-- Product List -->
            <div class="columns is-product-list is-multiline">
                <div class="column is-12">
                    <ul>
                        <!-- Product -->
                        <li class="flat-card product-container is-auto is-list-item" data-product-id="16" data-product-category="For Kids">
                            <span class="image">
                                    <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/kids1.jpg"  alt="">
                                </span>
                            <span class="product-info">
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <small class="is-hidden-mobile">22 Ratings</small>
                                    </span>
                            <a class="product-details-link" routerLink="productdetails"><span class="product-name">Tabouret</span></a>
                            <span class="product-description">Lorem ipsum sit dolor amet</span>
                            <span class="product-price">
                                        22.00
                                    </span>
                            </span>

                            <span class="product-abstract is-hidden-mobile">
                                    This is a well designed and crafted product that will suit many needs, in terms of quality, craftmanship and aesthetics.
                                    <span class="view-more">
                                        <a class="product-details-link" routerLink="productdetails">View more <i data-feather="chevron-right"></i></a>
                                    </span>
                            </span>

                            <span class="actions">
                                    <span class="add"><i data-feather="shopping-cart" class="has-simple-popover" data-content="Add to Cart" data-placement="top"></i></span>
                            <span class="like"><i data-feather="heart" class="has-simple-popover" data-content="Add to Wishlist" data-placement="top"></i></span>
                            </span>
                        </li>
                        <!-- Product -->
                        <li class="flat-card product-container is-auto is-list-item" data-product-id="17" data-product-category="For Kids">
                            <span class="image">
                                    <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/kids2.jpg"  alt="">
                                </span>
                            <span class="product-info">
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <small class="is-hidden-mobile">51 Ratings</small>
                                    </span>
                            <a class="product-details-link" routerLink="productdetails"><span class="product-name">Rabbit Lamp</span></a>
                            <span class="product-description">Lorem ipsum sit dolor amet</span>
                            <span class="product-price">
                                        14.49
                                    </span>
                            </span>

                            <span class="product-abstract is-hidden-mobile">
                                    This is a well designed and crafted product that will suit many needs, in terms of quality, craftmanship and aesthetics.
                                    <span class="view-more">
                                        <a class="product-details-link" routerLink="productdetails">View more <i data-feather="chevron-right"></i></a>
                                    </span>
                            </span>

                            <span class="actions">
                                    <span class="add"><i data-feather="shopping-cart" class="has-simple-popover" data-content="Add to Cart" data-placement="top"></i></span>
                            <span class="like"><i data-feather="heart" class="has-simple-popover" data-content="Add to Wishlist" data-placement="top"></i></span>
                            </span>
                        </li>
                        <!-- Product -->
                        <li class="flat-card product-container is-auto is-list-item" data-product-id="18" data-product-category="For Kids">
                            <span class="image">
                                    <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/kids3.png"  alt="">
                                </span>
                            <span class="product-info">
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <small class="is-hidden-mobile">89 Ratings</small>
                                    </span>
                            <a class="product-details-link" routerLink="productdetails"><span class="product-name">White Bed</span></a>
                            <span class="product-description">Lorem ipsum sit dolor amet</span>
                            <span class="product-price">
                                        <span>375.00</span>
                            </span>
                            </span>

                            <span class="product-abstract is-hidden-mobile">
                                    This is a well designed and crafted product that will suit many needs, in terms of quality, craftmanship and aesthetics.
                                    <span class="view-more">
                                        <a class="product-details-link" routerLink="productdetails">View more <i data-feather="chevron-right"></i></a>
                                    </span>
                            </span>

                            <span class="actions">
                                    <span class="add"><i data-feather="shopping-cart" class="has-simple-popover" data-content="Add to Cart" data-placement="top"></i></span>
                            <span class="like"><i data-feather="heart" class="has-simple-popover" data-content="Add to Wishlist" data-placement="top"></i></span>
                            </span>
                        </li>
                        <!-- Product -->
                        <li class="flat-card product-container is-auto is-list-item" data-product-id="19" data-product-category="For Kids">
                            <span class="image">
                                    <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/kids4.jpg"  alt="">
                                </span>
                            <span class="product-info">
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <small class="is-hidden-mobile">31 Ratings</small>
                                    </span>
                            <a class="product-details-link" routerLink="productdetails"><span class="product-name">Toy Boxes</span></a>
                            <span class="product-description">Lorem ipsum sit dolor amet</span>
                            <span class="product-price">
                                        45.99
                                    </span>
                            </span>

                            <span class="product-abstract is-hidden-mobile">
                                    This is a well designed and crafted product that will suit many needs, in terms of quality, craftmanship and aesthetics.
                                    <span class="view-more">
                                        <a class="product-details-link" routerLink="productdetails">View more <i data-feather="chevron-right"></i></a>
                                    </span>
                            </span>

                            <span class="actions">
                                    <span class="add"><i data-feather="shopping-cart" class="has-simple-popover" data-content="Add to Cart" data-placement="top"></i></span>
                            <span class="like"><i data-feather="heart" class="has-simple-popover" data-content="Add to Wishlist" data-placement="top"></i></span>
                            </span>
                        </li>
                        <!-- Product -->
                        <li class="flat-card product-container is-auto is-list-item" data-product-id="20" data-product-category="For Kids">
                            <span class="image">
                                    <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/kids5.jpg"  alt="">
                                </span>
                            <span class="product-info">
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <small class="is-hidden-mobile">138 Ratings</small>
                                    </span>
                            <a class="product-details-link" routerLink="productdetails"><span class="product-name">Baby Chest</span></a>
                            <span class="product-description">Lorem ipsum sit dolor amet</span>
                            <span class="product-price">
                                        <span>185.00</span>
                            <span class="sale-price">215.00</span>
                            </span>
                            </span>

                            <span class="product-abstract is-hidden-mobile">
                                    This is a well designed and crafted product that will suit many needs, in terms of quality, craftmanship and aesthetics.
                                    <span class="view-more">
                                        <a class="product-details-link" routerLink="productdetails">View more <i data-feather="chevron-right"></i></a>
                                    </span>
                            </span>

                            <span class="actions">
                                    <span class="add"><i data-feather="shopping-cart" class="has-simple-popover" data-content="Add to Cart" data-placement="top"></i></span>
                            <span class="like"><i data-feather="heart" class="has-simple-popover" data-content="Add to Wishlist" data-placement="top"></i></span>
                            </span>

                            <div class="on-sale">
                                <i data-feather="dollar-sign" class="has-simple-popover" data-content="This product is on sale" data-placement="top"></i>
                            </div>
                        </li>
                        <!-- Product -->
                        <li class="flat-card product-container is-auto is-list-item" data-product-id="21" data-product-category="For Kids">
                            <span class="image">
                                    <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/kids7.jpg"  alt="">
                                </span>
                            <span class="product-info">
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <small class="is-hidden-mobile">50 Ratings</small>
                                    </span>
                            <a class="product-details-link" routerLink="productdetails"><span class="product-name">Small Desk</span></a>
                            <span class="product-description">Lorem ipsum sit dolor amet</span>
                            <span class="product-price">
                                        190.00
                                    </span>
                            </span>

                            <span class="product-abstract is-hidden-mobile">
                                    This is a well designed and crafted product that will suit many needs, in terms of quality, craftmanship and aesthetics.
                                    <span class="view-more">
                                        <a class="product-details-link" routerLink="productdetails">View more <i data-feather="chevron-right"></i></a>
                                    </span>
                            </span>

                            <span class="actions">
                                    <span class="add"><i data-feather="shopping-cart" class="has-simple-popover" data-content="Add to Cart" data-placement="top"></i></span>
                            <span class="like"><i data-feather="heart" class="has-simple-popover" data-content="Add to Wishlist" data-placement="top"></i></span>
                            </span>
                        </li>
                        <!-- Product -->
                        <li class="flat-card product-container is-auto is-list-item" data-product-id="22" data-product-category="For Kids">
                            <span class="image">
                                    <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/kids6.jpg"  alt="">
                                </span>
                            <span class="product-info">
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <small class="is-hidden-mobile">39 Ratings</small>
                                    </span>
                            <a class="product-details-link" routerLink="productdetails"><span class="product-name">Animals Set</span></a>
                            <span class="product-description">Lorem ipsum sit dolor amet</span>
                            <span class="product-price">
                                        23.49
                                    </span>
                            </span>

                            <span class="product-abstract is-hidden-mobile">
                                    This is a well designed and crafted product that will suit many needs, in terms of quality, craftmanship and aesthetics.
                                    <span class="view-more">
                                        <a class="product-details-link" routerLink="productdetails">View more <i data-feather="chevron-right"></i></a>
                                    </span>
                            </span>

                            <span class="actions">
                                    <span class="add"><i data-feather="shopping-cart" class="has-simple-popover" data-content="Add to Cart" data-placement="top"></i></span>
                            <span class="like"><i data-feather="heart" class="has-simple-popover" data-content="Add to Wishlist" data-placement="top"></i></span>
                            </span>
                        </li>
                        <!-- Product -->
                        <li class="flat-card product-container is-auto is-list-item" data-product-id="23" data-product-category="For Kids">
                            <span class="image">
                                    <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/kids8.jpg"  alt="">
                                </span>
                            <span class="product-info">
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <small class="is-hidden-mobile">77 Ratings</small>
                                    </span>
                            <a class="product-details-link" routerLink="productdetails"><span class="product-name">Wood Elephant</span></a>
                            <span class="product-description">Lorem ipsum sit dolor amet</span>
                            <span class="product-price">
                                        57.99
                                    </span>
                            </span>

                            <span class="product-abstract is-hidden-mobile">
                                    This is a well designed and crafted product that will suit many needs, in terms of quality, craftmanship and aesthetics.
                                    <span class="view-more">
                                        <a class="product-details-link" routerLink="productdetails">View more <i data-feather="chevron-right"></i></a>
                                    </span>
                            </span>

                            <span class="actions">
                                    <span class="add"><i data-feather="shopping-cart" class="has-simple-popover" data-content="Add to Cart" data-placement="top"></i></span>
                            <span class="like"><i data-feather="heart" class="has-simple-popover" data-content="Add to Wishlist" data-placement="top"></i></span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Products List -->


                    </div>
                </div>

               <div class="columns storefooter">   
                    <div class="column">
                        <p class="is-green">Auto</p>
                    </div>
                </div>

            </div>