 <div class="auth-outer">
 <!-- <div class="is-categories-grid"> -->

              <div class="grid-system storegrid">
     	 		<div class="columns storeheader">   
                    <div class="column">
                        <div class="category-title is-product-category">
                            <h2>TRADELINE STORE</h2>
                        </div>
                    </div>
                </div>
                <div class="columns storebody">
                   
                    <div class="column storefilter">
                    	 <div class="column filterheader">
                    	 	<h2>FILTER</h2>
                    	 </div>
                           
                           
                                <div class="column filterbody">
                                	 <form>
                                    <div class="field">
                                        <div class="control">
                                            <label>Project ID</label>
                                            <input class="input is-medium mt-5" type="text">
                                        </div>
                                    </div>
                                    <div class="component-block">
				                    <div class="field">
				                        <div class="control">
				                            <select class="chosen-multiple" data-placeholder="Select users" multiple>
				                                <option label="App category"></option>
				                                <option>John Walsh</option>
				                                <option>Merry Daniels</option>
				                                <option>Cathy Price</option>
				                                <option>Kareem Jabbar</option>
				                                <option>Melany Gatts</option>
				                                <option>Jeremy Byers</option>
				                            </select>
				                        	</div>
				                    	</div>
				                	</div>
				                 	<div class="has-text-right">
                                
                                	<button class="button btn-align button-cta is-bold no-lh raised primary-btn">Filter</button>
		                            </div>
		                        </form>
                                </div>                     
                          
                           </div>
            <div class="column is-three-quarters storeproducts" >


            	    <!-- Controls -->
                        <div class="listing-controls">
                            <div class="layout-controls">
                                <a ><span class="is-active"><i data-feather="grid"></i></span></a>
                                <a ><span><i data-feather="list"></i></span></a>
                            </div>
                            <!-- Sort -->
                            <div class="sort-box">
                                <div class="sort-box-select">
                                    <select data-placeholder="Default order" class="chosen-select-no-single">
                                        <option>Default Sort</option>
                                        <option>Best Sellers</option>
                                        <option>Highest Rated</option>
                                        <option>Best Deals</option>
                                        <option>Newest Products</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- /Controls -->
                        <!-- Product List -->
		    <div class="columns is-product-list is-multiline">
		        <div class="column is-12">
		            <ul>
		                <!-- Product -->
		                <li class="flat-card product-container is-auto is-list-item" data-product-id="16" data-product-category="For Kids">
		                    <span class="image">
		                            <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/kids1.jpg"  alt="">
		                        </span>
		                    <span class="product-info">
		                            <span class="rating">
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <small class="is-hidden-mobile">22 Ratings</small>
		                            </span>
		                    <a class="product-details-link" routerLink="productdetails"><span class="product-name">Tabouret</span></a>
		                    <span class="product-description">Lorem ipsum sit dolor amet</span>
		                    <span class="product-price">
		                                22.00
		                            </span>
		                    </span>

		                    <span class="product-abstract is-hidden-mobile">
		                            This is a well designed and crafted product that will suit many needs, in terms of quality, craftmanship and aesthetics.
		                            <span class="view-more">
		                                <a class="product-details-link" routerLink="productdetails">View more <i data-feather="chevron-right"></i></a>
		                            </span>
		                    </span>

		                    <span class="actions">
		                            <span class="add"><i data-feather="shopping-cart" class="has-simple-popover" data-content="Add to Cart" data-placement="top"></i></span>
		                    <span class="like"><i data-feather="heart" class="has-simple-popover" data-content="Add to Wishlist" data-placement="top"></i></span>
		                    </span>
		                </li>
		                <!-- Product -->
		                <li class="flat-card product-container is-auto is-list-item" data-product-id="17" data-product-category="For Kids">
		                    <span class="image">
		                            <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/kids2.jpg"  alt="">
		                        </span>
		                    <span class="product-info">
		                            <span class="rating">
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <small class="is-hidden-mobile">51 Ratings</small>
		                            </span>
		                    <a class="product-details-link" routerLink="productdetails"><span class="product-name">Rabbit Lamp</span></a>
		                    <span class="product-description">Lorem ipsum sit dolor amet</span>
		                    <span class="product-price">
		                                14.49
		                            </span>
		                    </span>

		                    <span class="product-abstract is-hidden-mobile">
		                            This is a well designed and crafted product that will suit many needs, in terms of quality, craftmanship and aesthetics.
		                            <span class="view-more">
		                                <a class="product-details-link" routerLink="productdetails">View more <i data-feather="chevron-right"></i></a>
		                            </span>
		                    </span>

		                    <span class="actions">
		                            <span class="add"><i data-feather="shopping-cart" class="has-simple-popover" data-content="Add to Cart" data-placement="top"></i></span>
		                    <span class="like"><i data-feather="heart" class="has-simple-popover" data-content="Add to Wishlist" data-placement="top"></i></span>
		                    </span>
		                </li>
		                <!-- Product -->
		                <li class="flat-card product-container is-auto is-list-item" data-product-id="18" data-product-category="For Kids">
		                    <span class="image">
		                            <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/kids3.png"  alt="">
		                        </span>
		                    <span class="product-info">
		                            <span class="rating">
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <small class="is-hidden-mobile">89 Ratings</small>
		                            </span>
		                    <a class="product-details-link" routerLink="productdetails"><span class="product-name">White Bed</span></a>
		                    <span class="product-description">Lorem ipsum sit dolor amet</span>
		                    <span class="product-price">
		                                <span>375.00</span>
		                    </span>
		                    </span>

		                    <span class="product-abstract is-hidden-mobile">
		                            This is a well designed and crafted product that will suit many needs, in terms of quality, craftmanship and aesthetics.
		                            <span class="view-more">
		                                <a class="product-details-link" routerLink="productdetails">View more <i data-feather="chevron-right"></i></a>
		                            </span>
		                    </span>

		                    <span class="actions">
		                            <span class="add"><i data-feather="shopping-cart" class="has-simple-popover" data-content="Add to Cart" data-placement="top"></i></span>
		                    <span class="like"><i data-feather="heart" class="has-simple-popover" data-content="Add to Wishlist" data-placement="top"></i></span>
		                    </span>
		                </li>
		                <!-- Product -->
		                <li class="flat-card product-container is-auto is-list-item" data-product-id="19" data-product-category="For Kids">
		                    <span class="image">
		                            <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/kids4.jpg"  alt="">
		                        </span>
		                    <span class="product-info">
		                            <span class="rating">
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <small class="is-hidden-mobile">31 Ratings</small>
		                            </span>
		                    <a class="product-details-link" routerLink="productdetails"><span class="product-name">Toy Boxes</span></a>
		                    <span class="product-description">Lorem ipsum sit dolor amet</span>
		                    <span class="product-price">
		                                45.99
		                            </span>
		                    </span>

		                    <span class="product-abstract is-hidden-mobile">
		                            This is a well designed and crafted product that will suit many needs, in terms of quality, craftmanship and aesthetics.
		                            <span class="view-more">
		                                <a class="product-details-link" routerLink="productdetails">View more <i data-feather="chevron-right"></i></a>
		                            </span>
		                    </span>

		                    <span class="actions">
		                            <span class="add"><i data-feather="shopping-cart" class="has-simple-popover" data-content="Add to Cart" data-placement="top"></i></span>
		                    <span class="like"><i data-feather="heart" class="has-simple-popover" data-content="Add to Wishlist" data-placement="top"></i></span>
		                    </span>
		                </li>
		                <!-- Product -->
		                <li class="flat-card product-container is-auto is-list-item" data-product-id="20" data-product-category="For Kids">
		                    <span class="image">
		                            <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/kids5.jpg"  alt="">
		                        </span>
		                    <span class="product-info">
		                            <span class="rating">
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <small class="is-hidden-mobile">138 Ratings</small>
		                            </span>
		                    <a class="product-details-link" routerLink="productdetails"><span class="product-name">Baby Chest</span></a>
		                    <span class="product-description">Lorem ipsum sit dolor amet</span>
		                    <span class="product-price">
		                                <span>185.00</span>
		                    <span class="sale-price">215.00</span>
		                    </span>
		                    </span>

		                    <span class="product-abstract is-hidden-mobile">
		                            This is a well designed and crafted product that will suit many needs, in terms of quality, craftmanship and aesthetics.
		                            <span class="view-more">
		                                <a class="product-details-link" routerLink="productdetails">View more <i data-feather="chevron-right"></i></a>
		                            </span>
		                    </span>

		                    <span class="actions">
		                            <span class="add"><i data-feather="shopping-cart" class="has-simple-popover" data-content="Add to Cart" data-placement="top"></i></span>
		                    <span class="like"><i data-feather="heart" class="has-simple-popover" data-content="Add to Wishlist" data-placement="top"></i></span>
		                    </span>

		                    <div class="on-sale">
		                        <i data-feather="dollar-sign" class="has-simple-popover" data-content="This product is on sale" data-placement="top"></i>
		                    </div>
		                </li>
		                <!-- Product -->
		                <li class="flat-card product-container is-auto is-list-item" data-product-id="21" data-product-category="For Kids">
		                    <span class="image">
		                            <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/kids7.jpg"  alt="">
		                        </span>
		                    <span class="product-info">
		                            <span class="rating">
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <small class="is-hidden-mobile">50 Ratings</small>
		                            </span>
		                    <a class="product-details-link" routerLink="productdetails"><span class="product-name">Small Desk</span></a>
		                    <span class="product-description">Lorem ipsum sit dolor amet</span>
		                    <span class="product-price">
		                                190.00
		                            </span>
		                    </span>

		                    <span class="product-abstract is-hidden-mobile">
		                            This is a well designed and crafted product that will suit many needs, in terms of quality, craftmanship and aesthetics.
		                            <span class="view-more">
		                                <a class="product-details-link" routerLink="productdetails">View more <i data-feather="chevron-right"></i></a>
		                            </span>
		                    </span>

		                    <span class="actions">
		                            <span class="add"><i data-feather="shopping-cart" class="has-simple-popover" data-content="Add to Cart" data-placement="top"></i></span>
		                    <span class="like"><i data-feather="heart" class="has-simple-popover" data-content="Add to Wishlist" data-placement="top"></i></span>
		                    </span>
		                </li>
		                <!-- Product -->
		                <li class="flat-card product-container is-auto is-list-item" data-product-id="22" data-product-category="For Kids">
		                    <span class="image">
		                            <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/kids6.jpg"  alt="">
		                        </span>
		                    <span class="product-info">
		                            <span class="rating">
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <small class="is-hidden-mobile">39 Ratings</small>
		                            </span>
		                    <a class="product-details-link" routerLink="productdetails"><span class="product-name">Animals Set</span></a>
		                    <span class="product-description">Lorem ipsum sit dolor amet</span>
		                    <span class="product-price">
		                                23.49
		                            </span>
		                    </span>

		                    <span class="product-abstract is-hidden-mobile">
		                            This is a well designed and crafted product that will suit many needs, in terms of quality, craftmanship and aesthetics.
		                            <span class="view-more">
		                                <a class="product-details-link" routerLink="productdetails">View more <i data-feather="chevron-right"></i></a>
		                            </span>
		                    </span>

		                    <span class="actions">
		                            <span class="add"><i data-feather="shopping-cart" class="has-simple-popover" data-content="Add to Cart" data-placement="top"></i></span>
		                    <span class="like"><i data-feather="heart" class="has-simple-popover" data-content="Add to Wishlist" data-placement="top"></i></span>
		                    </span>
		                </li>
		                <!-- Product -->
		                <li class="flat-card product-container is-auto is-list-item" data-product-id="23" data-product-category="For Kids">
		                    <span class="image">
		                            <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/kids8.jpg"  alt="">
		                        </span>
		                    <span class="product-info">
		                            <span class="rating">
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <small class="is-hidden-mobile">77 Ratings</small>
		                            </span>
		                    <a class="product-details-link" routerLink="productdetails"><span class="product-name">Wood Elephant</span></a>
		                    <span class="product-description">Lorem ipsum sit dolor amet</span>
		                    <span class="product-price">
		                                57.99
		                            </span>
		                    </span>

		                    <span class="product-abstract is-hidden-mobile">
		                            This is a well designed and crafted product that will suit many needs, in terms of quality, craftmanship and aesthetics.
		                            <span class="view-more">
		                                <a class="product-details-link" routerLink="productdetails">View more <i data-feather="chevron-right"></i></a>
		                            </span>
		                    </span>

		                    <span class="actions">
		                            <span class="add"><i data-feather="shopping-cart" class="has-simple-popover" data-content="Add to Cart" data-placement="top"></i></span>
		                    <span class="like"><i data-feather="heart" class="has-simple-popover" data-content="Add to Wishlist" data-placement="top"></i></span>
		                    </span>
		                </li>
		            </ul>
		        </div>
		    </div>
		    <!-- Products List -->


                    </div>
                </div>

      		   <div class="columns storefooter">   
                    <div class="column">
                        <p class="is-green">Auto</p>
                    </div>
                </div>

            </div>
	</div>		