            <div class="columns mt-20">
                <div class="column is-8 is-offset-2">
                    <!-- Wrapper -->
                    <div class="steps-wrapper">
                        <!-- Steps Indicators -->
                        <div class="steps" id="stepsDemo3">
                            <!-- Indicator -->
                            <div class="step-item is-active">
                                <div class="step-marker">1</div>
                                <div class="step-details">
                                    <p class="step-title">Account</p>
                                </div>
                            </div>
                            <!-- Indicator -->
                            <div class="step-item">
                                <div class="step-marker">2</div>
                                <div class="step-details">
                                    <p class="step-title">Profile</p>
                                </div>
                            </div>
                            <!-- Indicator -->
                            <div class="step-item">
                                <div class="step-marker">3</div>
                                <div class="step-details">
                                    <p class="step-title">Social</p>
                                </div>
                            </div>
                            <!-- Indicator -->
                            <div class="step-item">
                                <div class="step-marker">4</div>
                                <div class="step-details">
                                    <p class="step-title">Finish</p>
                                </div>
                            </div>
                            <!-- Steps content wrapper -->
                            <div class="steps-content">
                                <!-- Step content -->
                                <div class="step-content has-text-centered is-active animated preFadeInUp fadeInUp">
                                    <!-- Field -->
                                    <div class="field">
                                        <div class="field-label is-normal">
                                            <label class="label">Username</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <input class="input" name="username3" id="username3" type="text" placeholder="Username" autofocus data-validate="require">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Field -->
                                    <div class="field">
                                        <div class="field-label is-normal">
                                            <label class="label">Password</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control has-icon has-icon-right">
                                                    <input class="input" type="password" name="password3" id="password3" placeholder="Password" data-validate="require">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Field -->
                                    <div class="field">
                                        <div class="field-label is-normal">
                                            <label class="label">Confirm password</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control has-icon has-icon-right">
                                                    <input class="input" type="password" name="password_confirm3" id="password_confirm3" placeholder="Confirm password" data-validate="require">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Step content -->
                                <div class="step-content has-text-centered animated preFadeInUp fadeInUp">
                                    <!-- Field -->
                                    <div class="field">
                                        <div class="field-label is-normal">
                                            <label class="label">First name</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <input class="input" name="firstname3" id="firstname3" type="text" placeholder="Firstname" autofocus data-validate="require">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Field -->
                                    <div class="field">
                                        <div class="field-label is-normal">
                                            <label class="label">Last name</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control has-icon has-icon-right">
                                                    <input class="input" type="text" name="lastname3" id="lastname3" placeholder="Last name" data-validate="require">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Field -->
                                    <div class="field">
                                        <div class="field-label is-normal">
                                            <label class="label">Email</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control has-icon has-icon-right">
                                                    <input class="input" type="email" name="email3" id="email3" placeholder="Email" data-validate="require">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Step content -->
                                <div class="step-content has-text-centered animated preFadeInUp fadeInUp">
                                    <!-- Field -->
                                    <div class="field">
                                        <div class="field-label is-normal">
                                            <label class="label">Facebook account</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <input class="input" name="facebook3" id="facebook3" type="text" placeholder="Facebook account url" autofocus data-validate="require">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Field -->
                                    <div class="field">
                                        <div class="field-label is-normal">
                                            <label class="label">Twitter account</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <input class="input" name="twitter3" id="twitter3" type="text" placeholder="Twitter account url" autofocus data-validate="require">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Field -->
                                    <div class="field">
                                        <div class="field-label is-normal">
                                            <label class="label">Dribbble account</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <input class="input" name="dribbble3" id="dribbble3" type="text" placeholder="Dribbble account url" autofocus data-validate="require">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Step content -->
                                <div class="step-content has-text-centered animated preFadeInUp fadeInUp">
                                    <img class="confirm-image" src="assets/img/illustrations/icons/account.svg">
                                    <h1 class="title is-5">Your account is now created!</h1>
                                    <p class="pt-10 pb-10 is-muted">You can now login with your credentials and start using the App</p>
                                </div>
                            </div>
                            <!-- Steps Navigation -->
                            <div class="steps-actions">
                                <div class="steps-action">
                                    <a href="#" data-nav="previous" class="button button-cta is-bold is-light btn-align">Back</a>
                                    <a href="#" data-nav="next" class="button secondary-btn button-cta is-bold raised btn-align">Next</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>