.section{
	    padding: 6rem 2.5rem;

}
.z9{
	z-index: 9;
}
.backgroundblue{
	background-color: #4A00E0;
}
.textcolorwhite{
	color: #fff;
}
.textcolorblack{
	color: #000;
}
.margin-right10{
	margin-right: 10px;
}
.card-footer{
	margin-top: 10px;
	/*position: static;*/
	background-color: #4A00E0;
}