
      <!-- Modal trigger -->
      <!--   <a class="button button-cta btn-align primary-btn raised modal-trigger" data-modal="basic-modal">Open modal</a> -->
        <!-- /Modal trigger -->
        
        <!-- Modal Markup -->
        <div id="basic-modal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="flex-card simple-shadow">
                    <div class="card-body">
                        <div class="content">
                            <h2 class="has-text-centered pb-20">Hello from modal !</h2>
                            <p class="pb-20">Lorem ipsum dolor sit amet, has vero libris melius ea, omnis velit comprehensam duo an, meis ornatus eam ad. Ius ut labores scaevola.</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="modal-close is-large is-hidden" aria-label="close"></button>
        </div>
        <!-- /Modal Markup -->
        
        <img class="slant-shape" src="assets/front/img/shapes/slant-light.svg" alt="">

        <!-- Hero content -->
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered hero-caption">
                    <div class="column is-7 laptop-container">
                        <img class="laptop levitate" src="assets/front/img/illustrations/mockups/iso-laptop-no-shadow-app.png" alt="">
                        <img class="laptop-shadow scaleShadow" src="assets/front/img/shapes/shadow.png" alt="">
                    </div>
                    <div class="column is-5 is-hero-title">
                        <h1 class="title is-3 is-bigger">
                          Better your credit by upto 60%
                        </h1>
                        <h2 class="subtitle is-4">
                           Boost your score by adding a tradeline
                        </h2>
                        <div class="buttons">
                            <a href="#" class="button button-cta is-bold btn-align white-btn is-rounded raised">
                                Get Started
                            </a>
                             <a href="#" class="button button-cta is-bold btn-align primary-btn is-rounded raised">
                                How it works
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>