   <div class="auth-outer">
 <!-- <div class="is-categories-grid"> -->

              <div class="grid-system storegrid">
     	 		<div class="columns storeheader">   
                    <div class="column">
                        <p class="is-green">Auto</p>
                    </div>
                </div>
                <div class="columns storebody">
   
                </div>

      		   <div class="columns storefooter">   
                    <div class="column">
                        <p class="is-green">Auto</p>
                    </div>
                </div>

            </div>
	</div>